<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="~/Content/ol.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">

            <div class="btn-action"><i class="glyphicon glyphicon-plus"></i> <span>Add Layer </span></div>
            <ul class="sidebar-nav"></ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/ol-debug.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            $(".map-action").click(function () {
                var hasClass = $(this).hasClass("active");
                $(".map-action").removeClass("active");

                if (!hasClass)
                    $(this).addClass("active");
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
